{% extends 'base.html' %}

{% block title_head %}
<title>Crear basquetbolista</title>
{% endblock title_head %}

{% block h1_header %}
Crear basquetbolista
{% endblock h1_header %}

{% block contenido %}

{% comment %} <p>{{mensaje}}</p> {% endcomment %}
{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}

<form action="" method="post">
   {% csrf_token %}
   <table>
   {{formulario}}
   </table>
   <button>Crear</button>
</form>

{% endblock contenido %}